* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

body {
  margin: 0;
  background-color: #FDE6D6;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.25rem 4rem;
  background-color: #E9CBB7;
}

.menu-btn {
  display: none;
  font-size: 1.5rem;
  background: none;
  border: none;
  cursor: pointer;
}

.brand {
  font-size: 3rem;
  cursor: pointer;
  font-family: Times, "Times New Roman", serif;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 4rem;
  font-size: 1.8rem;
}

.nav-links li {
  cursor: pointer;
  font-family: Times, "Times New Roman", serif;;
}

.navbar a {
  text-decoration: none;
  color: inherit;
}

.top-btn {
  position: fixed;
  right: 30px;
  bottom: 30px;

  width: 55px;
  height: 55px;

  border: none;
  border-radius: 50%;
  background-color: #FF3409;
  color: white;

  font-size: 28px;
  cursor: pointer;
  z-index: 1000;

  opacity: 0;
  transform: translateY(15px);
  pointer-events: none;
  transition: opacity 0.4s ease, transform 0.4s ease;
}

.top-btn.show {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

.nav-links a.active {
  font-weight: bold;
}

@media (max-width: 768px) {
  .navbar {
    padding: 1rem 1.5rem;
  }

  .menu-btn {
    display: block;
    margin-left: 15rem;
  }

  .nav-links {
    position: absolute;
    top: 64px;
    right: 0;

    flex-direction: column;
    gap: 1.5rem;

    background-color: #E9CBB7;
    padding: 1.5rem;
    width: 100%;

    display: none;
  }

  .nav-links.open {
    display: flex;
    padding-bottom: 0px;
  }
}
