* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #FDE6D6;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.25rem 4rem;
  background-color: #E9CBB7;
}

.menu-btn {
  display: none;
  font-size: 1.5rem;
  background: none;
  border: none;
  cursor: pointer;
}

.brand {
  font-size: 3rem;
  cursor: pointer;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 4rem;
  font-size: 1.8rem;
}

.nav-links li {
  cursor: pointer;
}

.navbar a {
  text-decoration: none;
  color: inherit;
}

@media (max-width: 768px) {
  .navbar {
    padding: 1rem 1.5rem;
  }

  .menu-btn {
    display: block;
    margin-left: 15rem;
  }

  .nav-links {
    position: absolute;
    top: 64px;
    right: 0;

    flex-direction: column;
    gap: 1.5rem;

    background-color: #E9CBB7;
    padding: 1.5rem;
    width: 100%;

    display: none;
  }

  .nav-links.open {
    display: flex;
  }
}
