.title {
  text-align: center;
  font-family: "Playfair Display", serif;
  font-weight: 500;
  color: #FF3409;

  font-size: clamp(6rem, 10vw, 8rem); /* ✅ responsive */
  margin-top: clamp(2rem, 6vw, 3rem);
  margin-bottom: 2rem;
}

.projectsGrid {
  display: grid;
  grid-template-columns: repeat(2, minmax(300px, 450px));
  column-gap: 100px;
  row-gap: 40px;
  padding: 10px;
  padding-bottom: 80px;
  justify-content: center;

  opacity: 0;
  transform: translateY(30px);
  transition: opacity 0.8s ease, transform 0.8s ease;

}

.cardContainer {
  text-align: center;
  background-color: #FCF9EB;
  border-radius: 20px;
  padding: 20px;
}

.cardContainer h1 {
  margin-bottom: 20px;
}

.cardContainer h3 {
  margin-top: 20px;
  padding-top: 20px;
  border-top: 2px solid #ddd2c7;
}

.cardContainer p {
  margin-top: 20px;
}

.cardImage {
  width: 100%;
  height: 250px;
  display: block;
  border-radius: 15px;
  border: 2px solid black;
  object-fit: cover;  /*changed*/
  object-position: center; /*changed*/
  cursor: default;
}

.fadeIn {
  opacity: 1;
  transform: translateY(0);
}

.cardLinks {
  margin-top: 20px;
  padding-top: 20px;
  border-top: 2px solid #ddd2c7;

  display: flex;
  justify-content: center;
  gap: 30px;
}

.cardLinks a{
  text-decoration: none;
  color: #FF3409;
  font-size: 1.3rem;
  font-weight: bold;
  transition: color 0.3s ease;
}

.cardLinks a:hover{
  color: blue;
}

@media (max-width: 768px) {
  .projectsGrid {
    grid-template-columns: minmax(280px, 450px);
    column-gap: 0;
    row-gap: 40px;
    padding: 20px;
  }
}